.container{
    height: 100vh;
    width: 100%;
    background-color: bisque;
}


.flag-container {
    height: 200px;
    width: 500px;
   background-color: green;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-70%);

   
}
.red-circle{
    height: 90px;
    width: 90px;
    background-color: red;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}
.flag-stant{
    height: 200px;
    width: 40px;
    background-color: black;
    position: absolute;
    top: 90%;
    border-top-right-radius: 30px; 
}
.stant-bottom{
    height: 30px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 190%;
    left: 20px;
    transform: translate(-50%, -50%);
}